<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaigns</title>
    <link rel="stylesheet" href="/css/doctor-profile/css/all.min.css" />
    <link rel="stylesheet" href="/css/doctor-profile/css/framework.css" />
    <link rel="stylesheet" href="/css/doctor-profile/css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&#038;display=swap"
      rel="stylesheet"
    />

    <link
      rel="icon"
      href="/css/login/images/icons/doctor.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 p-relative">
        <h3 class="p-relative txt-c mt-0">Doctor</h3>
        <ul>
          <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor"
            >
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Doctor Dashboard</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/profile"
            >
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/patients"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>Patients</span>
            </a>
          </li>
          <li>
            <a
              class="active d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/campaigns"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>campaigns</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/">
              <span>Home</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content w-full">
        <!--burasi-->
        <% if (campaignsNotApproved.length > 0) { %> 
          <% for(let campaign of campaignsNotApproved) { %>
            <h1 class="p-relative">campaigns</h1>
        <div class="friends-page d-grid m-20 gap-20">
          <div class="friend bg-white rad-6 p-20 p-relative">
            
            
            <div class="txt-c">
              <img
                decoding="async"
                class="rad-half mt-10 mb-10 w-100 h-100"
                src="/css/doctor-profile/imgs/friend-01.jpg"
                alt=""
              />
              <h4 class="m-0">
                <%= campaign.user.firstName %> <%= campaign.user.lastName %>
              </h4>
              <p class="c-grey fs-13 mt-5 mb-0">JavaScript Developer</p>
            </div>
            <div class="icons fs-14 p-relative">
              <div class="mb-10">
                <p><%= campaign.description %></p>
                <p><%= campaign.need %></p>
              </div>
            </div>
            <div class="info between-flex fs-13">
              <div>
                <a class="bg-blue c-white btn-shape" href="/">Profile</a>
                <!--hasta profiline gidicek-->
                <form
                  action="/doctor/campaign/remove/<%= campaign._id %>"
                  method="POST"
                >
                  <button type="submit" class="bg-red c-white btn-shape">
                    Remove
                  </button>
                </form>
                <form
                  action="/doctor/campaign/approve/<%= campaign._id %>"
                  method="POST"
                >
                  <button type="submit" class="bg-green c-white btn-shape">
                    Approve
                  </button>
                </form>
              </div>
            </div>
          </div>
            <% }} else if (campaignsNotApproved.length === 0) { %>
              <h1 class="p-relative">no campaign to approve</h1>
              <% } %>
            <!--burasi-->
      </div>
    </div>
  </body>
</html>
