<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donator Dashboard</title>
    <link rel="stylesheet" href="/css/doctor-profile/css/all.min.css" />
    <link rel="stylesheet" href="/css/doctor-profile/css/framework.css" />
    <link rel="stylesheet" href="/css/doctor-profile/css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&#038;display=swap"
      rel="stylesheet"
    />

    <link
      rel="icon"
      href="/css/login/images/icons/donator.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 p-relative">
        <h3 class="p-relative txt-c mt-0">Donator</h3>
        <ul>
          <li>
            <a
              class="active d-flex align-center fs-14 c-black rad-6 p-10"
              href="/donator"
            >
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Donator Dashboard</span>
            </a>
          </li>
          <!-- <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/profile"
            >
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Profile</span>
            </a>
          </li> -->
          <!-- <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/patients"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>Patients</span>
            </a>
          </li> -->
          <!-- <li>
            <a
              class="d-flex align-center fs-14 c-black rad-6 p-10"
              href="/doctor/campaigns"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>campaigns</span>
            </a>
          </li> -->
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/logout">
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content w-full">
        <h1 class="p-relative">Donator Dashboard</h1>
        <div class="wrapper d-grid gap-20">
          <!-- Start Welcome Widget -->
          <div class="welcome bg-white rad-10 txt-c-mobile block-mobile">
            <div class="intro p-20 d-flex space-between bg-eee">
              <div>
                <h2 class="m-0">Welcome</h2>
                <p class="c-grey mt-5">Donator</p>
              </div>
              <img
                decoding="async"
                class="hide-mobile"
                src="/css/doctor-profile/imgs/welcome.png"
                alt=""
              />
            </div>
            <img
              decoding="async"
              src="/css/login/images/icons/donator.ico"
              alt=""
              class="avatar"
            />
            <div class="body txt-c d-flex p-20 mt-20 mb-20 block-mobile">
              <div><%= donator._id.firstName %>  <%= donator._id.lastName %><span class="d-block c-grey fs-14 mt-10"
                  >Donator</span
                >
              </div>
              <div>
                10<span class="d-block c-grey fs-14 mt-10">Donations</span>
              </div>
              <!-- <div>$8500 <span class="d-block c-grey fs-14 mt-10">Earned</span></div> -->
            </div>
            
          </div>
          <!-- End Welcome Widget -->
          <!-- Start Quick Draft Widget -->

          <!-- End Quick Draft Widget -->
          <!-- Start Targets Widget -->

          <!-- End Targets Widget -->
          <!-- Start Ticket Widget -->

          <!-- End Ticket Widget -->
          <!-- Start Latest News Widget -->

          <!-- End Latest News Widget -->
          <!-- Start Tasks Widget -->

          <!-- End Tasks -->
          <!-- Start Top Search Word Widget -->

          <!-- End Top Search Word Widget -->
          <!-- Start Latest Uploads Widget -->

          <!-- End Latest Uploads Widget -->
          <!-- Start Last Project Progress Widget -->

          <!-- End Last Project Progress Widget -->
          <!-- Start Reminders Widget -->

          <!-- End Reminders Widget -->
          <!-- Start Latest Post Widget -->
          <div class="latest-post p-20 bg-white rad-10 p-relative">
            <h2 class="mt-0 mb-25">Donations</h2>
            <div class="top d-flex align-center">
              <img
                decoding="async"
                class="avatar mr-15"
                src="/css/login/images/icons/donator.ico"
                alt=""
              />
              <div class="info">
                <span class="d-block mb-5 fw-bold"><%= donator._id.firstName %>  <%= donator._id.lastName %></span>
                <span class="c-grey"></span>
              </div>
        
              
            </div>
            <div class="post-content txt-c-mobile pt-20 pb-20 mt-20 mb-20">
              <span class="c-grey">Total Donations:</span>
                  <span><%= donator.totalDonation %></span>
            </div>
            <!-- <div class="post-stats between-flex c-grey">
              <div>
                <i class="fa-regular fa-heart"></i>
                <span>1.8K</span>
              </div>
              <div>
                <i class="fa-regular fa-comments"></i>
                <span>500</span>
              </div>
            </div> -->
          </div>
          <!-- End Latest Post Widget -->
          <!-- Start Social Media Stats Widget -->

          <!-- Start End Media Stats Widget -->
        </div>
        <!-- Start Projects Table -->
        <!-- <div class="projects p-20 bg-white rad-10 m-20">
          <h2 class="mt-0 mb-20">Projects</h2>
          <div class="responsive-table">
            <table class="fs-15 w-full">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Finish Date</td>
                  <td>Client</td>
                  <td>Price</td>
                  <td>Team</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ministry Wikipedia</td>
                  <td>10 May 2022</td>
                  <td>Ministry</td>
                  <td>$5300</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-01.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-02.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-03.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-05.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-orange c-white"
                      >Pending</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>Elzero Shop</td>
                  <td>12 Oct 2021</td>
                  <td>Elzero Company</td>
                  <td>$1500</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-01.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-02.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-05.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-blue c-white"
                      >In Progress</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>Bouba App</td>
                  <td>05 Sep 2021</td>
                  <td>Bouba</td>
                  <td>$800</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-02.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-03.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-green c-white"
                      >Completed</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>Mahmoud Website</td>
                  <td>22 May 2021</td>
                  <td>Mahmoud</td>
                  <td>$600</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-01.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-02.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-green c-white"
                      >Completed</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>Sayed Website</td>
                  <td>24 May 2021</td>
                  <td>Sayed</td>
                  <td>$300</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-01.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-03.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-red c-white">Rejected</span>
                  </td>
                </tr>
                <tr>
                  <td>Arena Application</td>
                  <td>01 Mar 2021</td>
                  <td>Arena Company</td>
                  <td>$2600</td>
                  <td>
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-01.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-02.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-03.png"
                      alt=""
                    />
                    <img
                      decoding="async"
                      src="/css/doctor-profile/imgs/team-04.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <span class="label btn-shape bg-green c-white"
                      >Completed</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
        <!-- End Projects Table -->
      </div>
    </div>
  </body>
</html>
