<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/feed/css/patient.css" />
  </head>
  <body>
    <div class="profile-container">
      <img
        class="profile-image"
        src="/feed/imgs/patient.jpg"
        alt="Profile Image"
      />

      <div class="user-details">
        <label for="name">Name:</label>
        <p id="name"><%= campaign.user.firstName %></p>
      </div>

      <div class="user-details">
        <label for="surname">Surname:</label>
        <p id="surname"><%= campaign.user.lastName %></p>
      </div>

      <div class="user-details">
        <label for="donations">Collected Donations:</label>
        <p id="donations"><%= campaign.need %></p>
      </div>

      <div class="user-details">
        <label for="phone">Phone Number</label>
        <p id="phone"><%= campaign.user.phoneNumber %></p>
      </div>

      <div class="user-details">
        <label for="email">Email:</label>
        <p id="email"><%= campaign.user.email %></p>
      </div>

      <div class="user-details">
        <label for="bio">Bio:</label>
        <p id="bio"><% campaign.description %></p>
      </div>

      <div class="buttons-container">
        <a href="/" class="button blue-btn">Home</a>
        <a href="/donation/<%= campaign._id %>" class="button green-btn"
          >Donate</a
        >
      </div>
    </div>
  </body>
</html>
